Source/GW40K_Necrons/AssemblyInfo.cs
Source/GW40K_Necrons/GW40K_Necrons_HarmonyPatches.cs
Source/GW40K_Necrons/GW40K_Necrons.csproj
Source/GW40K_Necrons/GW40K_Necrons.sln
Source/GW40K_Necrons/HarmonyPatch_CanBeBroughtFood.cs
Source/GW40K_Necrons/HarmonyPatch_HasTendableHediff.cs
Source/GW40K_Necrons/HarmonyPatch_OutdoorsNeed.cs
Source/GW40K_Necrons/HarmonyPatch_Passion.cs
Source/GW40K_Necrons/HarmonyPatch_Recruitable.cs
Source/GW40K_Necrons/HarmonyPatch_ShouldBeDead.cs
Source/GW40K_Necrons/HarmonyPatch_ShouldNeed.cs
Source/GW40K_Necrons/Hediff_Resurrection.cs
Source/GW40K_Necrons/HediffGiver_Resurrection.cs
Source/GW40K_Necrons/HediffGiverNecron.cs
Source/GW40K_Necrons/JobDriver_LayDownCasket.cs
Source/GW40K_Necrons/JobGiver_GetMaintenance.cs
Source/GW40K_Necrons/JudgeAbility.cs
Source/GW40K_Necrons/JudgeAbilityProperties.cs
Source/GW40K_Necrons/JumpAbility.cs
Source/GW40K_Necrons/JumpAbilityProperties.cs
Source/GW40K_Necrons/MaintenanceNeed.cs
Source/GW40K_Necrons/NecroCasketUtility.cs
Source/GW40K_Necrons/NecronCasket.cs
Source/GW40K_Necrons/NecronDefOfs.cs
Source/GW40K_Necrons/NonOrganicPawn.cs
Source/GW40K_Necrons/SwapCompAbility.cs
Source/GW40K_Necrons/SwapCompAbilityProperties.cs
Source/GW40K_Necrons/TeleportAbility.cs
Source/GW40K_Necrons/TeleportAbilityProperties.cs
Source/GW40K_Necrons/ThoughtWorker_HateLiving.cs
Source/GW40K_Necrons/Verb_CastOnNecron.cs
Source/NecronComp/AssemblyInfo.cs
Source/NecronComp/CompAbilityEffect_TransmuteNecron.cs
Source/NecronComp/CompHediffAura.cs
Source/NecronComp/CompProperties_HediffAura.cs
Source/NecronComp/CompProperties_StructureSelfRegen.cs
Source/NecronComp/CompProperties_TransmuteNecron.cs
Source/NecronComp/CompStructureSelfRegen.cs
Source/NecronComp/IncidentWorker_NecrodemisInfection.cs
Source/NecronComp/IngestionOutcomeDoer_GiveHediffNecron.cs
Source/NecronComp/ModExtension_BulletArmorDegrade.cs
Source/NecronComp/ModExtension_NecrodemisInfection.cs
Source/NecronComp/NecronComp.csproj
Source/NecronComp/NecronComp.sln
Source/NecronComp/NecronStartPatch.cs
Source/NecronComp/NecronUtility.cs
Source/NecronComp/Pawn_PostApplyDamage_ArmorDegrade.cs
Source/NecronComp/System/Runtime/CompilerServices/RefSafetyRulesAttribute.cs
Source/GW40K_Necrons/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Source/GW40K_Necrons/obj/Debug/GW40K_Ne.2E5BA8B6.Up2Date
Source/GW40K_Necrons/obj/Debug/GW40K_Necrons.csproj.AssemblyReference.cache
Source/GW40K_Necrons/obj/Debug/GW40K_Necrons.csproj.CoreCompileInputs.cache
Source/GW40K_Necrons/obj/Debug/GW40K_Necrons.csproj.FileListAbsolute.txt
